:root {
  --turquoise: rgb(2 138 158);
  --dark-turquoise: rgb(9 81 92);
  --green: rgb(73 126 23);
  --blue: rgb(31 83 143);
  --purple: rgb(31 83 143);
  --red: rgb(151 23 23);
}

header {
  height: 600px;
  background-image: url('../img/banner_fruits.png');
  background-size: cover;
  background-position: center bottom;
  padding: 2rem;
}

h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 300px;
  background-color: color-mix(in srgb, var(--turquoise) 75%, transparent);
  color: white;
  font-size: 2.5rem;
  font-weight: 700;
  font-variant: small-caps;
  text-shadow: 1px 1px 2px black;
  border-radius: 50%;
  border: 10px double white;
}

h2 {
  font-family: 'Heattenschweiler', Arial, Helvetica, sans-serif;
  color: var(--dark-turquoise);
  letter-spacing: 1.5px;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

th {
  background-color: #212528 !important;
  color: white !important;
}
.navbar {
  background-color: var(--turquoise);
}

.nav-link {
  box-sizing: border-box;
}

.nav-link {
  border-top: 3px double transparent;
  border-bottom: 3px double transparent;
}

.nav-link:hover {
  color: white;
  border-top-color: white;
  border-bottom-color: white;
}

.kiwi {
  display: none;
  float: right;
  width: 250px;
}

.collapse-container {
  margin-block: 0.25rem;
  border: 1px dotted var(--turquoise);
}

.collapsible-trigger {
  all: unset;
  background-color: var(--turquoise);
  color: white;
  border: none;
  margin: 0;
  padding-block: 0.5rem;
  outline: none;
  font-weight: 700;
  font-style: italic;
  width: 100%;
  overflow: hidden;
}

.collapsible-trigger::before {
  display: inline-block;
  content: '►';
  margin-left: 0.5rem;
}

.collapsible-trigger:has(+ .show)::before {
  transform: rotate(90deg);
}

.collapse {
  padding: 0.5rem;
  background-color: color-mix(in srgb, var(--turquoise) 25%, transparent);
}

@media screen and (min-width: 770px) {
  .kiwi {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .table {
    max-width: 75%;
  }
}
